
@{
    ViewData["Title"] = "Index";
}

<div>
    @{if ((int)ViewData["hour"] < 12)
        {
            <h1 class="bg-primary header">Good Morning</h1>
        }
        else if ((int)ViewData["hour"] < 18)
        {
            <h1 class="bg-primary header">Good Afternoon</h1>
        }
        else
        {
            <h1 class="bg-primary header">Good Evening</h1>
        }
    }
</div>
<h2>It is now @ViewData["time"] on @ViewData["date"]</h2>
<p>There are @ViewData["days"] more days in @ViewData["year"]</p>
<a class="btn-success button" href="http://localhost:1114/Lab4/Waffles">Generate Waffles</a>

