
@{
    ViewData["Title"] = "Waffles";
}
@{@using WaffleGenerator;
}
@model object[]

<div><h1 class="bg-primary header">Generate Waffles</h1></div>
<div class="row header">
    <a class="btn-success button col-1" href="http://localhost:1114/Lab4/Waffles?id=1">1</a>
    <a class="btn-success button col-1" href="http://localhost:1114/Lab4/Waffles?id=2">2</a>
    <a class="btn-success button col-1" href="http://localhost:1114/Lab4/Waffles?id=3">3</a>
    <a class="btn-success button col-1" href="http://localhost:1114/Lab4/Waffles?id=4">4</a>
    <a class="btn-success button col-1" href="http://localhost:1114/Lab4/Waffles?id=5">5</a>
    <p class="col-7"></p>
</div>
@foreach (var waffles in Model)
{
    <div class="bg-info header">@waffles</div>
}


